HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw.cmd
mvnw
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/br.com.pizzaria/.idea
!**/pizzariaSpring/fontend/pizzariaangular/node_modules
!**/pizzariaSpring/fontend/pizzariaangular/.angular
!**/pizzariaSpring/fontend/pizzariaangular/.vscode
!**/pizzariaSpring/fontend/pizzariaangular/src/assets
!**/pizzariaSpring/fontend/pizzariaangular/package-lock.json


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
